* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.first-exercise {
  width: 100%;
  background-image: url("./images/exercise.png");
  background-size: cover;
  height: 700px;
  background-repeat: no-repeat;
}
.hosting-server {
  display: flex;
  padding-top: 15rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.local {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  color: whitesmoke;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid white;
}

.right-circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  font-size: 12px;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid white;
}
/* ******************************************************************************************** */
.live-blopo {
  padding-top: 4rem;
  color: #303030;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.dogers-first {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.cronopo {
  margin: 1rem;
  background: #f9f6f2;
  border-radius: 7px;
  max-width: 225px;
  padding: 3rem 4rem;
  text-align: center;
}
.watch-time {
  width: 45px;
  height: 45px;
}
.first12 {
  margin: 1rem;
  background: #f9f6f2;
  border-radius: 7px;
  max-width: 230px;
  padding: 3rem 5rem;
  text-align: center;
}
.toggle {
  font-size: 15px;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  color: #33475b;
  padding-top: 20px;
  font-weight: 200;
}
/* **************************************************************************** */
.social-media {
  padding-top: 4rem;
  color: #303030;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.system-logic-part {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.left-section-monkey {
  padding-left: 15%;
}
#women-ex {
  max-width: 520px;
  z-index: 2;
}
.science {
  position: relative;
}
#dooted {
  position: absolute;
  top: 70%;
  left: -10%;
  z-index: -1;
}
.right-section-loopy {
  margin-top: 8%;
  padding-left: 4%;
}
.fit-setting {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}
.para-pinot {
  font-family: "Poppins", sans-serif;
  padding-top: 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  max-width: 65%;
  letter-spacing: 0em;
  text-align: left;
}
.cafe-point {
  font-family: "Poppins", sans-serif;
  padding-top: 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  max-width: 65%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1265px) {
  .para-pinot {
    max-width: 75%;
  }
  .fokou {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 1107px) {
  .system-logic-part {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .fokou {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    padding-left: 12%;
    text-align: center;
  }
  .left-section-monkey {
    padding-left: 6%;
    text-align: center;
  }
}
@media (max-width: 774px) {
  #dooted {
    max-width: 130px;
  }
  #women-ex {
    max-width: 370px;
  }
  .fokou {
    max-width: 100%;
  }
  .para-pinot {
    max-width: 75%;
  }
}
@media (max-width: 893px) {
  .fokou {
    padding-left: 8%;
  }
}
@media (max-width: 454px) {
  #dooted {
    max-width: 70px;
  }
  #women-ex {
    max-width: 250px;
  }
  .fokou {
    max-width: 100%;
  }
}
@media (max-width: 545px) {
  .fit-setting {
    font-size: 28px;
    margin-top: 10px;
  }
}
/* ******************************************************************************************************* */
.fitness-4-main-part-live-somo {
  margin-top: 6rem;
}
.loko-pilate {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.left-pichko-section {
  margin-top: 8%;
  padding-left: 10%;
}
.bithing {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}
.sheet-rolo {
  font-family: "Poppins", sans-serif;
  padding-top: 22px;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  max-width: 60%;
  letter-spacing: 0em;
  text-align: left;
}
.rofoz {
  display: flex;
  gap: 20px;
  padding-top: 18px;
}
#check {
  width: 24px;
  height: 24px;
}
.linx {
  max-width: 55%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
.footboll {
  font-family: "Poppins", sans-serif;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: white;
  text-align: center;
  padding: 15px 22px;
  border-radius: 50px;
  background: #3595f6;
  max-width: 40%;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 27px;
  text-transform: uppercase;
}
#poco {
  max-width: 500px;
  z-index: 2;
}
.maths {
  position: relative;
}
#zoo {
  position: absolute;
  top: 70%;
  left: -10%;
  z-index: -1;
}
.right-foolo-joker {
  padding-right: 10%;
}
@media (max-width: 1107px) {
  .loko-pilate {
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 9%;
  }
  .jiloo {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
  }
}
@media (max-width: 1314px) {
  .footboll {
    max-width: 80%;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 774px) {
  #zoo {
    max-width: 130px;
  }
  #poco {
    max-width: 370px;
  }
  .jiloo {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 893px) {
  .jiloo {
    padding-left: 4%;
  }
  /* .left-pichko-section {
    padding-left: 7%;
  } */
}
@media (max-width: 465px) {
  #zoo {
    max-width: 90px;
  }
  #poco {
    max-width: 250px;
  }
  .jiloo {
    max-width: 100%;
    text-align: center;
    width: 100%;
  }
  .bithing {
    font-size: 28px;
  }
}

/* *********************************************************************************************************** */
.phone-dolo-part {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.left-vivio-money {
  padding-left: 15%;
}
#nom {
  max-width: 520px;
  z-index: 2;
}
.biloogy {
  position: relative;
}
#dooted {
  position: absolute;
  top: 70%;
  left: -10%;
  z-index: -1;
}
.right-apple-ciso {
  margin-top: 8%;
  padding-left: 4%;
}
.door-heate {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}
.lava-qube {
  font-family: "Poppins", sans-serif;
  padding-top: 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  max-width: 65%;
  letter-spacing: 0em;
  text-align: left;
}
.windo-mouse {
  display: flex;
  gap: 20px;
  padding-top: 12px;
}
#check {
  width: 24px;
  height: 24px;
}
.parrle {
  max-width: 55%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #3595f6;
}
.hoocky {
  font-family: "Poppins", sans-serif;
  border: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  color: white;
  text-align: center;
  padding: 15px 40px;
  border-radius: 50px;
  background: #3595f6;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  text-transform: uppercase;
}
@media (max-width: 1107px) {
  .phone-dolo-part {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .digio {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    padding-left: 12%;
  }
  .left-vivio-money {
    padding-left: 6%;
  }
}
@media (max-width: 1320px) {
  .hoocky {
    max-width: 75%;
  }
}
@media (max-width: 774px) {
  #dooted {
    max-width: 130px;
  }
  #nom {
    max-width: 370px;
  }
  .digio {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 893px) {
  .digio {
    padding-left: 8%;
  }
  .left-vivio-money {
    padding-left: 7%;
  }
}
@media (max-width: 545px) {
  .hoocky {
    max-width: 80%;
  }
}
@media (max-width: 465px) {
  #dooted {
    max-width: 90px;
  }
  #nom {
    max-width: 250px;
  }
  .hoocky {
    max-width: 90%;
  }
  .door-heate {
    font-size: 28px;
    margin-top: 15px;
  }
  .digio {
    text-align: center;
    padding-left: 18%;
  }
}

/* ************************************************************************* */
.fitness-6-men-high {
  margin-top: 6rem;
}
.dogger-bopo {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.left-gfn-ptr {
  margin-top: 8%;
  padding-left: 10%;
}
.tv-live {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}
.hp-siro-tub {
  font-family: "Poppins", sans-serif;
  padding-top: 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  max-width: 60%;
  letter-spacing: 0em;
  text-align: left;
}
.topo_ice {
  font-family: "Poppins", sans-serif;
  padding-top: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  max-width: 60%;
  letter-spacing: 0em;
  text-align: left;
}
.sin-clock {
  display: flex;
  gap: 20px;
  padding-top: 12px;
}
#check {
  width: 24px;
  height: 24px;
}
.apple-ovel {
  max-width: 55%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #3595f6;
}

#portal {
  max-width: 500px;
  z-index: 2;
}
.chpoi {
  position: relative;
}
#iot {
  position: absolute;
  top: 70%;
  left: -10%;
  z-index: -1;
}
.right-wire-part-dm {
  padding-right: 10%;
}
@media (max-width: 1107px) {
  .dogger-bopo {
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .rabit {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
  }
  .right-wire-part-dm {
    padding-left: 12%;
  }
}
@media (max-width: 774px) {
  #iot {
    max-width: 130px;
  }
  #portal {
    max-width: 370px;
  }
  .rabit {
    max-width: 100%;
  }
}
@media (max-width: 893px) {
  .rabit {
    padding-left: 8%;
  }
  .left-gfn-ptr {
    padding-left: 7%;
  }
  .hp-siro-tub {
    max-width: 70%;
  }
  .topo_ice {
    max-width: 70%;
  }
}

@media (max-width: 465px) {
  #iot {
    max-width: 90px;
  }
  #portal {
    max-width: 250px;
  }
  .rabit {
    max-width: 100%;
  }
}

/* **************************************************************************************************************************** */
.fitness-7-mapping-watch {
  margin-top: 6rem;
}
.patner-genic {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.left-contso-bage {
  padding-left: 15%;
}
#watch {
  max-width: 520px;
  z-index: 2;
}
.dimond {
  position: relative;
}
#dooted {
  position: absolute;
  top: 70%;
  left: -10%;
  z-index: -1;
}
.right-promo-jolo {
  margin-top: 8%;
  padding-left: 4%;
}
.view-one-row {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}
.payo-voo {
  font-family: "Poppins", sans-serif;
  padding-top: 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  max-width: 65%;
  letter-spacing: 0em;
  text-align: left;
}
.gropo {
  font-family: "Poppins", sans-serif;
  padding-top: 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  max-width: 65%;
  letter-spacing: 0em;
  text-align: left;
}
.coloin {
  display: flex;
  justify-content: start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.boxer {
  border: 1px solid#3595f6;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  background-color: white;
  max-width: 60%;
  padding: 20px 30px;
  gap: 14px;
  margin: 1rem;
}
.apple-curve {
  width: 19px;
  height: 19px;
}
.mato {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 21px;
  color: #3595f6;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 1216px) {
  .boxer {
    max-width: 80%;
  }
}
@media (max-width: 1107px) {
  .patner-genic {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .sumusang {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    padding-left: 12%;
  }
  .left-contso-bage {
    padding-left: 6%;
  }
}
@media (max-width: 774px) {
  #dooted {
    max-width: 130px;
  }
  #watch {
    max-width: 370px;
  }
  .coloin {
    flex-direction: column;
    text-align: center;
  }
  .boxer {
    max-width: 60%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 893px) {
  .sumusang {
    padding-left: 5%;
  }
  /* .payo-voo {
    max-width: 100%;
  } */
}
@media (max-width: 465px) {
  #dooted {
    max-width: 90px;
  }
  #watch {
    max-width: 250px;
  }
  .sumusang {
    max-width: 100%;
  }
  .payo-voo {
    max-width: 100%;
  }
}

/* *********************************************************************************************** */
.fitness-8-coin-point {
  margin-top: 4rem;
}
.nabl-part {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}
.left-douo0 {
  margin-top: 8%;
  padding-left: 5%;
}
.earn2-view {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}
.custom-staff {
  font-family: "Poppins", sans-serif;
  padding-top: 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  max-width: 60%;
  letter-spacing: 0em;
  text-align: left;
}
.hill-hot {
  font-family: "Poppins", sans-serif;
  padding-top: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  max-width: 65%;
  letter-spacing: 0em;
  text-align: left;
}
.bhoot {
  font-family: "Poppins", sans-serif;
  padding-top: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  max-width: 65%;
  letter-spacing: 0em;
  text-align: left;
}
.siro {
  font-family: "Poppins", sans-serif;
  padding-top: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  max-width: 65%;
  letter-spacing: 0em;
  text-align: left;
}
.soppy {
  font-family: "Poppins", sans-serif;
  padding-top: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  max-width: 65%;
  letter-spacing: 0em;
  text-align: left;
}

#tree-green {
  max-width: 500px;
  z-index: 2;
}
.chappti {
  position: relative;
}
#banner {
  position: absolute;
  top: 70%;
  left: -10%;
  z-index: -1;
}
.right-coin-yello-jio {
  padding-right: 15%;
}
@media (max-width: 1107px) {
  .nabl-part {
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .rupess {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
  }
}
@media (max-width: 774px) {
  #banner {
    max-width: 130px;
  }
  #tree-green {
    max-width: 370px;
  }
  .rupess {
    max-width: 100%;
  }
}

@media (max-width: 465px) {
  #banner {
    max-width: 90px;
  }
  #tree-green {
    max-width: 250px;
  }
}
